{% extends 'Front/layout.html.twig' %}

{% block title %}{{ 'menu.about' | trans }} · {{ parent() }}{% endblock %}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="http://lorempixel.com/c/1140/300/nature/" alt="dummy"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="well well-lg">
                    <p class="lead orange no-m-bottom">{{ 'about.left.main' | trans | upper | raw }}</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="well well-lg">
                    <h2 class="no-m-top">{{ 'about.right.company.title' | trans | capitalize }}</h2>
                    <p>{{ 'about.right.company.text' | trans | raw }}</p>
                    <h2>{{ 'about.right.services.title' | trans | capitalize }}</h2>
                    <p class="no-m-bottom">{{ 'about.right.services.text' | trans | raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('front_about', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_about', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_about', {'_locale': 'en'}) }}{% endblock %}
