{% extends 'Front/layout.html.twig' %}

{% block title %}{{ 'menu.about' | trans }} · {{ parent() }}{% endblock %}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}

{% block main %}
    <div class="container about-us-panels">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="{{ asset('bundles/app/images/about-us.jpg') }}" alt="dummy"/>
            </div>
        </div>
        <div class="row extra-m-top-27">
            <div class="col-md-5">
                <div class="well well-lg">
                    <p class="lead orange no-m-bottom">{{ 'about.left.main' | trans | upper | raw }}</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="well well-lg">
                    <h2 class="no-m-top"><span class="house"></span> {{ 'about.right.company.title' | trans | upper }}</h2>
                    <p>{{ 'about.right.company.text' | trans | raw }}</p>
                    <h2 class="double-extra-m-top"><span class="keyring"></span> {{ 'about.right.services.title' | trans | upper }}</h2>
                    <div class="no-m-bottom">{{ 'about.right.services.text' | trans | raw }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('front_about', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_about', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_about', {'_locale': 'en'}) }}{% endblock %}
