{% extends 'Front/contact_common.html.twig' %}

{% form_theme form _self %}

{% block _contact_privacy_widget %}
    <div class="checkbox">
        <input id="privacy_checkbox" type="checkbox" {{ block('widget_attributes') }} />
        <label for="privacy_checkbox">
            {{ 'contact.form.accept' | trans | lower }} <a href="{{ path('front_privacy')}}">{{ 'contact.form.privacy' | trans | lower }}</a>
        </label>
    </div>
{% endblock %}

{% block contactform %}
    <h2 class="no-m-top extra-m-bottom">{{ 'contact.form.title' | trans | upper }}</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'contact.form.send' | trans | upper }}" class="btn btn-grey">
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
