{% extends '::Front/layout.html.twig' %}

{% block title %}{{ 'menu.contact' | trans }} · {{ parent() }}{% endblock %}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}

{% block main %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'menu.contact' | trans }}</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('front_contact', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_contact', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_contact', {'_locale': 'en'}) }}{% endblock %}
