{% extends 'Front/layout.html.twig' %}

{% block title %}{{ 'frontend.credits' | trans | capitalize }} · {{ parent() }}{% endblock %}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="{{ asset('bundles/app/images/credits.jpg') }}" alt="cofee cup credits"/>
            </div>
            <div class="col-md-8">
                <div class="well">
                    <h1 class="no-m-top extra-m-bottom">{{ 'frontend.credits' | trans | upper }}</h1>
                    <p>{{ 'credits.text' | trans | raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('front_credits', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_credits', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_credits', {'_locale': 'en'}) }}{% endblock %}
{% block footlangfr %}{{ path('front_credits', {'_locale': 'fr'}) }}{% endblock %}
