{% extends 'Front/layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'homepage.property.banner.metatitle' | trans }}{% endblock %}
{% block metadescription %}{{ parent() }}{% endblock %}
{% block metakeywords %}{{ parent() }}{% endblock %}

{% block main %}
    {% if slides | length > 0 %}
        <div class="container">
            <div id="carousel-homepage" class="carousel slide" data-ride="carousel" data-interval="3000">
                {# Overlayed main brand ad #}
{#                <div class="carousel-homepage-banners-wrapper">#}
{#                    <div class="banner-main">{{ 'homepage.property.banner.main' | trans | capitalize }}</div>#}
{#                </div>#}
                {#<!-- Indicators -->#}
                {% if slides | length > 1 %}
                    <ol class="carousel-indicators">
                        {% for slide in slides %}
                            <li data-target="#carousel-homepage" data-slide-to="0"{% if loop.first %} class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                {% endif %}
                {#<!-- Wrapper for slides -->#}
                <div class="carousel-inner" role="listbox">
                    {% for slide in slides %}
                        <div class="item{% if loop.first %} active{% endif %}">
                            {% if slide.link is null %}
                                <img class="img-responsive" src="{{ vich_uploader_asset(slide, 'imageFile') | imagine_filter('1140x450') }}" alt="{{ slide.metaAlt }}"{% if slide.metaTitle %} title="{{ slide.metaTitle }}"{% endif %}>
                            {% else %}
                                <a href="{{ slide.link }}" target="_blank"><img class="img-responsive" src="{{ vich_uploader_asset(slide, 'imageFile') | imagine_filter('1140x450') }}" alt="{{ slide.metaAlt }}"{% if slide.metaTitle %} title="{{ slide.metaTitle }}"{% endif %}></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {#<!-- Controls -->#}
                {% if slides | length > 1 %}
                    <a class="left carousel-control" href="#carousel-homepage" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" data-aria-hidden="true"></span>
                        <span class="sr-only">{{ 'properties.list.button.prev' | trans }}</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-homepage" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" data-aria-hidden="true"></span>
                        <span class="sr-only">{{ 'properties.list.button.next' | trans }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        {#<!-- Property rows -->#}
        {% if properties | length > 0 %}
            <div class="row">
                {% for property in properties %}
                    <div class="col-md-4 col-sm-6">
                        <hr class="hr-homepage">
                        <div class="thumbnail homepage{% if property.offerSpecial or property.offerDiscount %} bg-dark-orange{% endif %}">
                            {% if property.images | length > 0 %}
                                {% set image = property.images[0] %}
                                <div class="extra-ribbons-wrapper">
                                    {% if property.sold %}
                                        <img class="extra-label" src="{{ asset('bundles/app/images/extra_ribbons/sold-small-' ~ app.request.locale ~ '.png') }}" alt="sold label"/>
                                    {% elseif property.reserved %}
                                        <img class="extra-label" src="{{ asset('bundles/app/images/extra_ribbons/reserved-small-' ~ app.request.locale ~ '.png') }}" alt="reserved label"/>
                                    {% endif %}
                                    <a href="{{ path('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference}) }}">
                                        <img class="img-responsive" src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('700x400') }}" alt="{{ image.metaAlt }}"{% if image.metaTitle %} title="{{ image.metaTitle }}"{% endif %}>
                                    </a>
                                </div>
                            {% endif %}
                            <a href="{{ path('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference}) }}">
                                <div class="caption">
                                    <h2 class="no-m-top no-bold-font">Ref. {{ property.reference }}</h2>
                                    <h2 class="no-m-top">{{ property.name | upper }}</h2>
                                    {% include ':Front/commons:property-price.html.twig' with {property: property} %}
                                    {% include ':Front/commons:property-icons-list.html.twig' with {property: property} %}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <hr class="hr-homepage">
                    <p class="lead">{{ 'homepage.property.noitems' | trans }}</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
