{% extends 'Front/layout.html.twig' %}

{% block title %}{{ 'frontend.privacy' | trans | capitalize }} · {{ parent() }}{% endblock %}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="http://lorempixel.com/c/360/300/nature/" alt="dummy"/>
            </div>
            <div class="col-md-8">
                <div class="well">
                    <h1 class="no-m-top extra-m-bottom">{{ 'frontend.privacy' | trans | upper }}</h1>
                    <h4>{{ 'privacy.confidenciality.title' | trans }}</h4>
                    <p>{{ 'privacy.confidenciality.text' | trans | raw }}</p>
                    <h4>{{ 'privacy.records.title' | trans }}</h4>
                    <p>{{ 'privacy.records.text' | trans | raw }}</p>
                    <h4>{{ 'privacy.trustness.title' | trans }}</h4>
                    <p>{{ 'privacy.trustness.text' | trans | raw }}</p>
                    <h4>{{ 'privacy.cookies.title' | trans }}</h4>
                    <p>{{ 'privacy.cookies.text' | trans | raw }}</p>
                    <h4>{{ 'privacy.targets.title' | trans }}</h4>
                    <p>{{ 'privacy.targets.text' | trans | raw }}</p>
                    <h4>{{ 'privacy.children.title' | trans }}</h4>
                    <p>{{ 'privacy.children.text' | trans | raw }}</p>
                    <h4>{{ 'privacy.send.title' | trans }}</h4>
                    <p>{{ 'privacy.send.text' | trans | raw }}</p>
                    <hr>
                    <p class="bg-warning">{{ 'privacy.spam' | trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('front_privacy', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_privacy', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_privacy', {'_locale': 'en'}) }}{% endblock %}
