{% extends 'Front/layout.html.twig' %}

{% block title %}{{ property.name }} · {{ property.city.name }} · {{ property.type.name }} · {{ parent() }}{% endblock %}
{% block metadescription %}{{ property.description }}{% endblock %}
{% block metakeywords %}{{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/flexslider.css') }}">
{% endblock %}
{% block extrametas %}
    <meta name="og:title" content="{{ property.name }}"/>
    <meta name="og:description" content="{{ property.description }}"/>
    <meta name="og:image" content="{{ vich_uploader_asset(property.images[0], 'imageFile') | imagine_filter('757x450') }}"/>
{% endblock %}

{% block bodyattr %}data-ng-app="propertiesApp"{% endblock %}

{% block javascriptshead %}
    {{ parent() }}
    <script src="{{ asset('js/my.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.flexslider-min.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="container" data-ng-controller="PropertyDetailCtrl" data-ng-init="init('{{ localization }}')">
        <div class="row">
            <div class="col-md-8">
                <div class="nav-control"><a href="{{ path('front_property_return') }}"><span class="list-page"></span> {{ 'properties.list.button.back' | trans | upper }}</a></div>
            </div>
            <div class="col-md-4">
                {% if showNavigationArrows %}
                    <div class="nav-control">
                        <a href="{{ path('front_property_prev', {id: property.id}) }}"><span class="prev-icon"></span> {{ 'properties.list.button.prev' | trans | upper }}</a>
                        <a class="pull-right" href="{{ path('front_property_next', {id: property.id}) }}">{{ 'properties.list.button.next' | trans | upper }} <span class="next-icon"></span></a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 property-detail-left-box">
                {% if property.images | length > 0 %}
                    <div>
                        {#<!-- Wrapper for slides -->#}
                        <div id="slider" class="flexslider">
                            {% if property.sold %}
                                <img class="extra-label hidden-xs" src="{{ asset('bundles/app/images/extra_ribbons/sold-big-' ~ app.request.locale ~ '.png') }}" alt="sold label"/>
                                <img class="extra-label visible-xs" src="{{ asset('bundles/app/images/extra_ribbons/sold-small-' ~ app.request.locale ~ '.png') }}" alt="sold label"/>
                            {% elseif property.reserved %}
                                <img class="extra-label hidden-xs" src="{{ asset('bundles/app/images/extra_ribbons/reserved-big-' ~ app.request.locale ~ '.png') }}" alt="reserved label"/>
                                <img class="extra-label visible-xs" src="{{ asset('bundles/app/images/extra_ribbons/reserved-small-' ~ app.request.locale ~ '.png') }}" alt="reserved label"/>
                            {% endif %}
                            <ul class="slides">
                                {% for image in property.images if image.enabled %}
                                    <li>
                                        <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('757x450') }}" class="img-responsive" alt="{% if image.metaAlt %}{{ image.metaAlt }}{% else %}{{ property.name }} · {{ property.type.name }} · {{ property.city.name }}{% endif %}"{% if image.metaTitle %} title="{{ image.metaTitle }}"{% endif %}>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                {% for image in property.images if image.enabled %}
                                    <li>
                                        <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('140x95') }}" alt="{% if image.metaAlt %}{{ image.metaAlt }}{% else %}{{ property.name }} · {{ property.type.name }} · {{ property.city.name }}{% endif %}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <h2 class="c-orange extra-m-top-30"><span class="house-icon"></span> {{ property.name | upper }}
                    <a target="_blank" class="pull-right" href="{{ path('front_property_pdf', {id: property.id}) }}"><span class="download-icon"></span></a>
                    <a class="pull-right" href="mailto:?subject={{ property.name }}%20·%20Finques%20Farnós&amp;body=Ref.{{ property.reference }}%20{{ url('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference}) }}"><span class="envelope-icon"></span></a>
                    <a class="pull-right" href="https://twitter.com/share?url={{ url('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference}) }}" target="_blank"><span class="twitter-icon"></span></a>
                    <a class="pull-right" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{ url('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference}) | url_encode }}&amp;p[images][0]={{ vich_uploader_asset(property.images[0], 'imageFile') | imagine_filter('757x450') }}&amp;p[title]={{ property.name }}&amp;p[summary]={{ property.description }}" target="_blank"><span class="facebook-icon"></span></a>
                </h2>
                <hr class="thick">
                <p>{{ property.description }}</p>
                <h2 class="c-orange h2-localization"><span class="poi-icon"></span> {{ 'property.localization' | trans | upper }}</h2>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
                    <ui-gmap-marker data-ng-if="localization.smt == 0" idKey="localization.id" coords="localization.coords"></ui-gmap-marker>
                    <ui-gmap-circle data-ng-if="localization.smt == 2" center="localization.coords" stroke="map.stroke" fill="map.fill" radius="map.radius" visible="true" geodesic="true" editable="false" draggable="false" clickable="false"></ui-gmap-circle>
                </ui-gmap-google-map>
                <p data-ng-if="localization.smt == 0 || localization.smt == 1" class="extra-m-top">{{ property.address }}</p>
            </div>
            <div class="col-md-4">
                <div class="property-right-side-box">
                    <h2 class="no-m no-bold-font font-size-17">Ref. {{ property.reference }}</h2>
                    <h2 class="no-m">{{ property.name | upper }}</h2>
                    <h5 class="no-top">{{ property.city }}</h5>
                    {% include ':Front/commons:property-price.html.twig' with {property: property} %}
                    {% include ':Front/commons:property-icons-list.html.twig' with {property: property} %}
                    <hr>
                    <h4 class="font-size-16">{{ 'property.energy.efficiency' | trans | upper }}</h4>
                    {% if property.energyClass == 0 %}
                        <p class="c-orange"><i class="fa fa-exclamation-triangle fa-lg"></i> {{ 'property.energy.noclass' | trans }}</p>
                    {% elseif property.energyClass == 1 %}
                        <p class="c-orange"><i class="fa fa-exclamation-triangle fa-lg"></i> {{ 'property.energy.pending' | trans }}</p>
                    {% elseif property.energyClass > 1 and property.energyClass < 9 %}
                        <img class="eeb{% if property.energyClass == 2 %} current{% endif %}" src="{{ asset('bundles/app/images/icones/eficiencia_energetica/EF_A.png') }}" alt="{{ 'property.energy.efficiency' | trans }} A"/>
                        <img class="eeb{% if property.energyClass == 3 %} current{% endif %}" src="{{ asset('bundles/app/images/icones/eficiencia_energetica/EF_B.png') }}" alt="{{ 'property.energy.efficiency' | trans }} B"/>
                        <img class="eeb{% if property.energyClass == 4 %} current{% endif %}" src="{{ asset('bundles/app/images/icones/eficiencia_energetica/EF_C.png') }}" alt="{{ 'property.energy.efficiency' | trans }} C"/>
                        <img class="eeb{% if property.energyClass == 5 %} current{% endif %}" src="{{ asset('bundles/app/images/icones/eficiencia_energetica/EF_D.png') }}" alt="{{ 'property.energy.efficiency' | trans }} D"/>
                        <img class="eeb{% if property.energyClass == 6 %} current{% endif %}" src="{{ asset('bundles/app/images/icones/eficiencia_energetica/EF_E.png') }}" alt="{{ 'property.energy.efficiency' | trans }} E"/>
                        <img class="eeb{% if property.energyClass == 7 %} current{% endif %}" src="{{ asset('bundles/app/images/icones/eficiencia_energetica/EF_F.png') }}" alt="{{ 'property.energy.efficiency' | trans }} F"/>
                        <img class="eeb{% if property.energyClass == 8 %} current{% endif %}" src="{{ asset('bundles/app/images/icones/eficiencia_energetica/EF_G.png') }}" alt="{{ 'property.energy.efficiency' | trans }} G"/>
                    {% endif %}
                    <hr>
                    <div class="ribbon-wrapper">
                        {% if app.session.flashbag.get('success') | length == 1 %}
                            <h4>{{ 'contact.form.thankyou.title' | trans | upper }}</h4>
                            <p>{{ 'contact.form.thankyou.message' | trans }}</p>
                        {% else %}
                            <h4 class="font-size-16 c-orange">{{ 'property.form' | trans | upper }}</h4>
                            <form method="POST" action="{{ path('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference}) }}" {{ form_enctype(form) }}>
                                {{ form_widget(form) }}
                                <input type="submit" value="{{ 'contact.form.send' | trans }}" class="btn btn-grey">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-2x fa-arrow-circle-up"></i></span></div>
{% endblock %}

{% block javascriptsbody %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#slider').flexslider({
                animation: 'slide',
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: '#carousel'
            });
            jQuery('#carousel').flexslider({
                animation: 'slide',
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 150,
                itemMargin: 5,
                asNavFor: '#slider'
            });
        });
    </script>
    {% include ':Front/commons:scroll-to-top-js.html.twig' %}
{% endblock %}

{% block footlangca %}{{ path('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference, '_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference, '_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference, '_locale': 'en'}) }}{% endblock %}
{% block footlangfr %}{{ path('front_property', {type: property.type.nameSlug, city: property.city.nameSlug, name: property.nameSlug, reference: property.reference, '_locale': 'fr'}) }}{% endblock %}
