{% extends '::Front/layout.html.twig' %}

{% block title %}{{ 'menu.properties' | trans }} · {{ parent() }}{% endblock %}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}

{% block bodyattr %}ng-app="propertiesApp"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/angular-slider.css') }}">
{% endblock %}

{% block javascriptshead %}
    {{ parent() }}
    <script src="{{ asset('bundles/innovaangularjs/js/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/innovaangularjs/js/angular-resource.min.js') }}"></script>
    <script src="{{ asset('bundles/innovaangularjs/js/angular-cookies.min.js') }}"></script>
    <script src="{{ asset('bundles/innovaangularjs/js/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('bundles/innovaangularjs/js/angular-route.min.js') }}"></script>
    <script src="{{ asset('bundles/innovaangularjs/js/angular-touch.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/vendor/angular-slider.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/properties/app.js') }}"></script>
    <script src="{{ asset('bundles/app/js/properties/controllers.js') }}"></script>
    <script src="{{ asset('bundles/app/js/properties/services.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="container" data-ng-controller="MainCtrl">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'menu.properties' | trans }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form name="filterForm" action="" role="form">
                    <div class="form-group">
                        <label for="propertyType" class="control-label">{{ 'properties.form.type' | trans | raw }}</label>
                        <select id="propertyType" class="form-control" data-ng-model="type" required="required">
                            <option value="-1">any</option>
                            <option data-ng-repeat="type in form.types" value="[[ type.id ]]">[[ type.name ]]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="propertyArea" class="control-label">{{ 'properties.form.area' | trans | raw }}</label>
                        <input id="propertyArea" type="range" name="propertyArea" min="[[ form.area.min ]]" max="[[ form.area.max ]]" data-ng-model="area">
                        <output name="amount" for="propertyArea">[[ area ]] m<sup>2</sup></output>
                        {#<div id="propertyArea" class="form-control" data-slider#}
                                {#data-ng-model="area"#}
                                {#data-floor="form.area.min"#}
                                {#data-ceiling="form.area.max"#}
                                {#data-step="1"#}
                                {#data-precision="0"#}
                                {#data-stretch="1">#}
                        {#</div>#}
                    </div>
                    <div class="form-group">
                        <label for="propertyRooms" class="control-label">{{ 'properties.form.rooms' | trans | raw }}</label>
                        <input id="propertyRooms" type="range" name="propertyRooms" min="[[ form.rooms.min ]]" max="[[ form.rooms.max ]]" data-ng-model="rooms">
                        <output name="amount" for="propertyRooms">[[ rooms ]]</output>
                        {#<div id="propertyRooms" class="form-control" data-slider#}
                             {#data-ng-model="rooms"#}
                             {#data-floor="1"#}
                             {#data-ceiling="10"#}
                             {#data-step="1"#}
                             {#data-precision="0"#}
                             {#data-stretch="1">#}
                        {#</div>#}
                    </div>
                    <div class="form-group">
                        <label for="propertyPrice" class="control-label">{{ 'properties.form.price' | trans | raw }}</label>
                        <input id="propertyPrice" type="range" name="propertyPrice" min="[[ form.price.min ]]" max="[[ form.price.max ]]" data-ng-model="price">
                        <output name="amount" for="propertyRooms">[[ price ]] &euro;</output>
                        {#<div id="propertyPrice" class="form-control" data-slider#}
                             {#data-ng-model="price"#}
                             {#data-floor="1"#}
                             {#data-ceiling="10"#}
                             {#data-step="1"#}
                             {#data-precision="0"#}
                             {#data-stretch="1">#}
                        {#</div>#}
                    </div>
                    <button type="submit" class="btn btn-primary">{{ 'properties.form.search' | trans | raw }}</button>
                </form>
            </div>
            <div class="col-md-8">
                <div class="well">
                    <p class="lead">Google Maps</p>
                </div>
            </div>
        </div>
        <hr>
        {% for property in pagination %}
            <div class="row">
                <div class="col-md-4">
                    {% if property.firstEnabledImage %}
                        <img class="img-responsive" src="{{ vich_uploader_asset(property.firstEnabledImage, 'property_image') | imagine_filter('100x100') }}" alt="{{ property.firstEnabledImage.metaAlt }}" title="{{ property.firstEnabledImage.metaTitle }}">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h2>{{ property.name }}</h2>
                    {% if property.showPriceOnlyWithNumbers %}
                        <h3>{{ property.price | number_format(0, '\'', '.') }} €{% if property.oldPrice %} <small>{{ 'homepage.property.before' | trans }} {{ property.oldPrice | number_format(0, '\'', '.') }} €</small>{% endif %}</h3>
                    {% else %}
                        <h3>{{ 'homepage.property.since' | trans }} {{ property.price | number_format(0, '\'', '.') }} €</h3>
                    {% endif %}
                    <div class="btn-group" role="group" data-aria-label="icons">
                        {% if property.offerSpecial %}
                            <button type="button" class="btn btn-default btn-sm">{{ 'homepage.property.offer.special' | trans }}</button>
                        {% endif %}
                        {% if property.offerDiscount and not property.offerSpecial %}
                            <button type="button" class="btn btn-default btn-sm">{{ 'homepage.property.offer.discount' | trans }}</button>
                        {% endif %}
                        {% if property.squareMeters %}
                            <button type="button" class="btn btn-default btn-sm">{{ property.squareMeters }} m<sup>2</sup></button>
                        {% endif %}
                        {% if property.rooms %}
                            <button type="button" class="btn btn-default btn-sm">{{ property.rooms }} {{ 'homepage.property.rooms' | trans }}</button>
                        {% endif %}
                        {% if property.bathrooms %}
                            <button type="button" class="btn btn-default btn-sm">{{ property.bathrooms }} {{ 'homepage.property.bathrooms' | trans }}</button>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <p>{{ property.description }}</p>
                    <p><a class="btn btn-primary btn-sm" role="button" href="{{ path('front_property', {type: property.type.nameSlug, name: property.nameSlug}) }}">{{ 'properties.list.button.more' | trans }}</a></p>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="paginator pull-right">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('front_properties', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_properties', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_properties', {'_locale': 'en'}) }}{% endblock %}
