{% extends 'Front/layout.html.twig' %}

{% block title %}{{ 'menu.properties' | trans }} · {{ parent() }}{% endblock %}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}

{% block bodyattr %}ng-app="propertiesApp"{% endblock %}

{% block javascriptshead %}
    {{ parent() }}
    <script src="/js/my.js"></script>
{% endblock %}

{% block main %}
    <div class="container" data-ng-controller="PropertyDetailCtrl" data-ng-init="init('{{ localization }}')">
        <div class="row">
            <div class="col-md-8">
                <p><a class="btn btn-default" role="button" href="{{ path('front_properties') }}"><span class="glyphicon glyphicon-chevron-left" data-aria-hidden="true"></span> {{ 'properties.list.button.back' | trans }}</a></p>
            </div>
            <div class="col-md-4">
                {#<div class="btn-group pull-right" role="group" data-aria-label="propertiesPager">#}
                    {#<button type="button" class="btn btn-default" data-aria-label="{{ 'properties.list.button.prev' | trans }}">#}
                        {#<span class="glyphicon glyphicon-chevron-left" data-aria-hidden="true"></span>#}
                    {#</button>#}
                    {#<button type="button" class="btn btn-default" data-aria-label="{{ 'properties.list.button.next' | trans }}">#}
                        {#<span class="glyphicon glyphicon-chevron-right" data-aria-hidden="true"></span>#}
                    {#</button>#}
                {#</div>#}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 property-detail-left-box">
                {% if property.firstEnabledImage %}
                    <div id="custom_carousel" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for image in property.images %}
                                <div class="item{% if loop.first %} active{% endif %}">
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('800xY') }}" class="img-responsive" alt="{{ image.metaAlt }}"{% if image.metaTitle %} title="{{ image.metaTitle }}"{% endif %}>
                                </div>
                            {% endfor %}
                            {% if property.images | length > 1 %}
                                <div class="controls">
                                    <ul class="nav">
                                        {% for image in property.images %}
                                            <li data-target="#custom_carousel" data-slide-to="{{ loop.index - 1 }}" {% if loop.first %}class="active"{% endif %}>
                                                <a href="#"><img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('100x100') }}"></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <h2 class="c-orange">{{ property.name }}
                    <div class="btn-group pull-right" role="group" data-aria-label="icons">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-lg"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-lg"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-envelope fa-lg"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-cloud-download fa-lg"></i></button>
                    </div>
                </h2>
                <hr class="thick">
                <p>{{ property.description }}</p>
                <h2 class="c-orange h2-localization">{{ 'property.localization' | trans }}</h2>
                <ui-gmap-google-map center="localization.coords" zoom="map.zoom" options="map.options" control="map.control">
                    {#<ui-gmap-markers data-ng-if="properties" models="properties" idKey="id" coords="'coords'" fit="true" doCluster="true" clusterOptions="map.clusterOptions"></ui-gmap-markers>#}
                    <ui-gmap-circle center="localization.coords" stroke="map.stroke" fill="map.fill" radius="map.radius" visible="map.visible" geodesic="map.geodesic" editable="map.editable" draggable="map.draggable" clickable="map.clickable"></ui-gmap-circle>
                </ui-gmap-google-map>
            </div>
            <div class="col-md-4 property-right-side-box">
                <h2 class="no-m">{{ property.name }}</h2>
                {% if property.showPriceOnlyWithNumbers %}
                    <h3 class="no-m-top extra-m-bottom">{{ property.price | number_format(0, '\'', '.') }} €{% if property.oldPrice %} <small>{{ 'homepage.property.before' | trans }} {{ property.oldPrice | number_format(0, '\'', '.') }} €</small>{% endif %}</h3>
                {% else %}
                    <h3 class="no-m-top extra-m-bottom">{{ 'homepage.property.since' | trans }} {{ property.price | number_format(0, '\'', '.') }} €</h3>
                {% endif %}
                <div class="btn-group" role="group" data-aria-label="icons">
                    {% if property.offerSpecial %}
                        <button type="button" class="btn btn-default btn-sm">{{ 'homepage.property.offer.special' | trans }}</button>
                    {% endif %}
                    {% if property.offerDiscount and not property.offerSpecial %}
                        <button type="button" class="btn btn-default btn-sm">{{ 'homepage.property.offer.discount' | trans }}</button>
                    {% endif %}
                    {% if property.squareMeters %}
                        <button type="button" class="btn btn-default btn-sm">{{ property.squareMeters }} m<sup>2</sup></button>
                    {% endif %}
                    {% if property.rooms %}
                        <button type="button" class="btn btn-default btn-sm">{{ property.rooms }} {{ 'homepage.property.rooms' | trans }}</button>
                    {% endif %}
                    {% if property.bathrooms %}
                        <button type="button" class="btn btn-default btn-sm">{{ property.bathrooms }} {{ 'homepage.property.bathrooms' | trans }}</button>
                    {% endif %}
                </div>
                <hr>
                <h4>{{ 'property.energy.efficiency' | trans }}</h4>
                {% if property.energyClass == 0 %}
                    <p class="c-orange"><i class="fa fa-exclamation-triangle fa-lg"></i> {{ 'property.energy.noclass' | trans }}</p>
                {% elseif property.energyClass == 1 %}
                    <p class="c-orange"><i class="fa fa-exclamation-triangle fa-lg"></i> {{ 'property.energy.pending' | trans }}</p>
                {% else %}
                    {% for i in 2..8 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning{% if property.energyClass == i %} progress-bar-striped{% endif %}" role="progressbar" data-aria-valuenow="{{ (i - 1) * 14 }}" data-aria-valuemin="0" data-aria-valuemax="100" style="width: {{ (i - 1) * 14 }}%">
                                <span class="sr-only">{{ (i - 1) * 14 }}% Complete</span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <hr>
                <h4>{{ 'property.form' | trans }}</h4>
                <form method="POST" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <input type="submit" value="{{ 'contact.form.send' | trans }}" class="btn btn-default">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptsbody %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#custom_carousel').carousel({
                pause: true,
                interval: false
            }).on('slide.bs.carousel', function(evt) {
                        jQuery('#custom_carousel .controls li.active').removeClass('active');
                        jQuery('#custom_carousel .controls li:eq(' + jQuery(evt.relatedTarget).index() + ')').addClass('active');
            });
        });
    </script>
{% endblock %}

{% block footlangca %}{{ path('front_property', {type: property.type.nameSlug, name: property.nameSlug, '_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_property', {type: property.type.nameSlug, name: property.nameSlug, '_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_property', {type: property.type.nameSlug, name: property.nameSlug, '_locale': 'en'}) }}{% endblock %}
