{% extends 'Front/layout.html.twig' %}

{% block title %}{{ 'menu.properties' | trans }} · {{ parent() }}{% endblock %}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}

{% block bodyattr %}ng-app="propertiesApp"{% endblock %}

{% block javascriptshead %}
    {{ parent() }}
    <script src="/js/my.js"></script>
{% endblock %}

{% block main %}
    <div class="container" data-ng-controller="MainCtrl" data-ng-init="init('{{ propertiesFormFilter }}', '{{ filteredProperties }}')">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'menu.properties' | trans }}</h1>
            </div>
        </div>
        <div class="row" data-ng-if="!firstCallFinished">
            <div class="col-md-4">
                <div class="well">
                    <p class="lead">{{ 'properties.searching' | trans }}</p>
                </div>
            </div>
        </div>
        <div class="row double-extra-m-bottom">
            <div class="col-md-4 left-search-panel" data-ng-show="firstCallFinished">
                <form name="filterForm" action="" role="form">
                    <div class="form-group">
                        <label for="propertyType" class="control-label">{{ 'properties.form.type' | trans | raw }}</label>
                        <select id="propertyType" class="form-control" data-ng-model="type" required="required" data-ng-options="t.name for t in form.types" data-ng-change="formListener()">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="propertyArea" class="control-label">[[ area ]] m<sup>2</sup> {{ 'properties.form.area' | trans | raw }}</label>
                        <input id="propertyArea" type="range" name="propertyArea" min="40" max="300" data-ng-model="area" value="[[ area ]]" step="10">
                        {#<input id="propertyArea" type="range" name="propertyArea" min="[[ form.area.min ]]" max="[[ form.area.max ]]" data-ng-model="area" value="[[ area ]]" step="[[ form.area.step ]]">#}
                        {#<output name="areaAmount" for="propertyArea">[[ area ]] m<sup>2</sup></output>#}
                    </div>
                    <div class="form-group">
                        <label for="propertyRooms" class="control-label">[[ rooms ]] {{ 'properties.form.rooms' | trans | raw }}</label>
                        <input id="propertyRooms" type="range" name="propertyRooms" min="2" max="6" data-ng-model="rooms" value="[[ rooms ]]">
                        {#<input id="propertyRooms" type="range" name="propertyRooms" min="[[ form.rooms.min ]]" max="[[ form.rooms.max ]]" data-ng-model="rooms" value="[[ rooms ]]">#}
                        {#<output name="roomsAmount" for="propertyRooms">[[ rooms ]]</output>#}
                    </div>
                    <div class="form-group">
                        <label for="propertyPrice" class="control-label">[[ getCurrency(price) ]]&euro; {{ 'properties.form.price' | trans | raw }}</label>
                        <input id="propertyPrice" type="range" name="propertyPrice" min="10000" max="300000" data-ng-model="price" value="[[ price ]]" step="10000">
                        {#<input id="propertyPrice" type="range" name="propertyPrice" min="[[ form.price.min ]]" max="[[ form.price.max ]]" data-ng-model="price" value="[[ price ]]" step="[[ form.price.step ]]">#}
                        {#<output name="priceAmount" for="propertyPrice">[[ getCurrency(price) ]] &euro;</output>#}
                    </div>
                    {#<button type="submit" class="btn btn-primary">{{ 'properties.form.search' | trans | raw }}</button>#}
                </form>
            </div>
            <div class="col-md-8">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control" bounds="map.bounds">
                    <ui-gmap-markers data-ng-if="properties" models="properties" idKey="id" coords="'coords'" fit="true" doCluster="true" clusterOptions="map.clusterOptions"></ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
        <hr class="hr-homepage">
        <div data-ng-show="firstCallFinished" data-ng-repeat="property in properties">
            <div class="row">
                <div class="col-md-4">
                    <a href="[[ getUrlPropertyDetail(property) ]]""><img class="img-responsive" data-ng-src="[[ property.first_image_path ]]" alt="[[]]"></a>
                </div>
                <div class="col-md-4">
                    <h2><a href="[[ getUrlPropertyDetail(property) ]]">[[ property.name ]]</a></h2>
                    <h3 data-ng-if="property.show_price_only_with_numbers">[[ getCurrency(property.price) ]] € <small data-ng-if="property.old_price">{{ 'homepage.property.before' | trans }} [[ getCurrency(property.old_price) ]] €</small></h3>
                    <h3 data-ng-if="!property.show_price_only_with_numbers">{{ 'homepage.property.since' | trans }} [[ getCurrency(property.price) ]] €</h3>
                    <div class="btn-group" role="group" data-aria-label="icons">
                        <button data-ng-if="property.offer_special" type="button" class="btn btn-default btn-sm">{{ 'homepage.property.offer.special' | trans }}</button>
                        <button data-ng-if="property.offer_discount && !property.offer_special" type="button" class="btn btn-default btn-sm">{{ 'homepage.property.offer.discount' | trans }}</button>
                        <button data-ng-if="property.square_meters" type="button" class="btn btn-default btn-sm">[[ property.square_meters ]] m<sup>2</sup></button>
                        <button data-ng-if="property.rooms" type="button" class="btn btn-default btn-sm">[[ property.rooms ]] {{ 'homepage.property.rooms' | trans }}</button>
                        <button data-ng-if="property.bathrooms" type="button" class="btn btn-default btn-sm">[[ property.bathrooms ]] {{ 'homepage.property.bathrooms' | trans }}</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>[[ property.description ]]</p>
                    <p><a class="btn btn-primary btn-sm" role="button" href="[[ getUrlPropertyDetail(property) ]]">{{ 'properties.list.button.more' | trans }}</a></p>
                </div>
            </div>
            <hr class="hr-properties">
        </div>
        <div class="row" data-ng-hide="properties.length || !firstCallFinished">
            <div class="col-md-12">
                <div class="well">
                    <p class="lead">{{ 'properties.list.empty' | trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('front_properties', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('front_properties', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('front_properties', {'_locale': 'en'}) }}{% endblock %}
