{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ settings.title }}</h3>
        </div>
        <div class="box-body" style="padding-bottom:3px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Referència</th>
                        <th>Immoble</th>
                        <th class="text-right">Visites</th>
                    </tr>
                </thead>
                <tbody>
                {% for property in topVisitedProperties %}
                    <tr class="clickableRow" data-href="{{ path('admin_finquesfarnos_app_property_edit', {id: property.id}) }}" style="cursor:pointer">
                        <td>{{ property.reference }}</td>
                        <td>{{ property.name }}</td>
                        <td class="text-right">{{ property.totalVisits | number_format(0, '\'', '.') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.clickableRow').click(function() {
                window.document.location = $(this).attr('data-href');
            });
        });
    </script>
{% endblock %}
